@media(min-width: 991px)
	.btn
		transition: all .2s ease
		&:hover
			background-color: $blue
			color: #fff
			clip-path: polygon(0 0,30px 0,30px 0,30px 0,30px 0,100% 0,100% 100%,0 100%)
		&--white:hover
			border-color: $blue-metalic
			background-color: $blue-metalic
	.slick
		&-slider:hover &-arrow
			opacity: 1
			&.slick-disabled
				opacity: 0
		&-arrow:hover
			background-color: $blue
			color: #fff
	.header
		&__menu
			>li
				position: relative
				>a
					transition: all .3s ease
				>ul
					position: absolute
					z-index: 2
					top: 100%
					left: -15px
					border-top: 1px solid rgba(151,151,151,.1)
					background-color: #fff
					border-radius: 0 0 10px 10px
					box-shadow: -1px 12px 14px rgba(0, 0, 0, 0.224213)
					width: 218px
					overflow: hidden
					>li>a
						display: block
						padding: 11px 12px
						transition: all .3s ease
						color: inherit
						&:hover
							background-color: #F4F4F4
				&:hover
					>a
						color: $lightblue
					>ul
						display: block
				
		&__cart
			transition: all .3s ease
			&:hover
				color: $lightblue
		&__info
			&-triger
				transition: all .3s ease
			&:hover &-trigger
				color: $lightblue
		&__phone
			transition: all .3s ease
			&:hover
				color: $lightblue
		&__search-btn
			transition: all .3s ease
			&:hover
				color: $lightblue
	.search-form
		&__close
			transition: all .3s ease
			&:hover
				color: $lightblue
	.banner-card
		&__img
			transition: all .5s ease-in-out
		&:hover &__img
			transform: scale(1.1)
	.event-card
		&__bg
			transition: all .3s ease-in-out
		&:hover &__bg
			transform: scale(1.1)
	.video-block
		&__card
			&:before
				transition: all .3s ease
			&:hover:before
				background-color: $blue
				color: #fff		
	.card
		img
			transition: all .6s ease
		&:hover img
			transform: scale(1.05)
			
@media(max-width: 1239px)
	.wrapper
		max-width: 992px
		&--big
			max-width: 100%
	.banner
		&__remove-btn
			left: auto
			right: 10px
	.top-block
		&__slide
			padding: 80px 0
		&__text
			padding-left: 0
			h3
				font-size: 34px
	.banner-card
		padding-top: 46px
		flex-basis: 428px
		&--big
			flex-basis: calc(100% - 20px)
		h3
			font-size: 28px
			line-height: 36/28*1
	.event-card
		width: calc(50% - 20px)
		&:nth-child(n+3)
			display: none
	.video-block
		&__nav
			margin: 0 auto
			justify-content: center
			max-width: 760px
		&__card
			padding-bottom: 20px
			&--active:after
				display: none
	.category-block
		padding: 30px 0
		&__slider
			padding-left: calc(50% - 476px)
		&__arrow
			&.prev
				left: calc(50% - 490px)
			&.next
				right: calc(50% - 355px)
	.contacts
		&__section
			padding-left: 40px
			padding-right: 40px
		&__text
			padding-left: 40px
	.good
		&__slider
			width: 50%
		&__text
			padding-left: 40px
	.description
		&__text
			padding-right: 40px
@media(max-width:991px)
	.banner
		display: none
	.menu-btn
		display: inline-block
	.header
		&__menu
			position: absolute
			top: calc(100% + 1px)
			left: 0
			width: 100%
			z-index: 2
			background-color: #fff
			display: none
			text-align: right
			>li
				display: block
				border-bottom: 1px solid rgba(151, 151, 151, 0.1)
				>a
					padding: 10px 20px
					&:not(:only-child):after
						display: none
			&--open
				display: block
		&__info-body
			right: 0
			border-bottom-right-radius: 0
	.top-block
		&__slide
			padding: 35px 0
		&__wrapper
			display: block
		&__text
			max-width: 680px
			padding: 0
			margin: 0 auto 20px
		&__img
			width: auto
			margin-left: auto
			max-height: 220px
	.video-block
		&__content
			padding: 40px 0 20px
		&__slide
			width: 75vw
			font-size: inherit
		&__item
			height: 40vw
	.category-block
		&__slider
			padding-left: 20px
	.contacts
		padding: 40px 0
		h1
			font-size: 36px
		h4
			font-size: 22px
		&__head
			font-size: inherit
		&__main
			display: block
		&__text
			padding: 30px
		&__section
			padding-left: 30px
			padding-right: 30px
	.good
		padding: 50px 0
		&__wrapper
			display: block
		&__slider
			width: auto
			max-width: 768px
			margin: 0 0 30px
		&__text
			padding-left: 0
	.description
		&__wrapper
			display: block
		&__text
			padding-right: 0
		&__sidebar
			margin-top: 30px
	.chars
		&__item
			padding: 0
			h4
				flex-basis: 40%
	.footer
		background: url(../img/footer.svg) no-repeat center top/100% 4.54vw, linear-gradient(to bottom, transparent 4.2vw, #2E5577 4.2vw)
		padding-top: 4.54vw
		h3
			margin: 0 0 .5em
		&__topline
			display: block
			margin: 0
			padding: 20px 0 15px
		&__column
			margin: 0 0 30px
		&__logo
			margin: 0 auto 15px
		&__social
			margin: 0
			text-align: center
		&__menu
			columns: 4
			column-gap: 20px
		&__author
			font-size: inherit
		&__bottomline
			font-size: inherit
			padding: 10px 0
@media(max-width:767px)
	h1
		font-size: 40px
	h2
		font-size: 36px
	h3
		font-size: 32px
	h4
		font-size: 24px
	h5
		font-size: 18px
	.header
		&__phone
			font-size: 0
			height: 60px
			overflow: hidden
			padding: 0
			&:before
				content: '\e90f'
				display: block
				font-family: icomoon
				font-size: 24px
				width: 1.7em
				text-align: center
	.top-block
		&__text
			text-align: center
			h3
				font-size: 28px
			h5
				font-size: 18px
		&__img
			margin: auto
	.banner-card
		height: auto
		min-height: 608px
	.events
		&__box
			justify-content: center
	.event-card
		width: 420px
		max-width: 100%
		&:nth-child(n+3)
			display: block
	.video-block
		&__nav
			display: none
		&__item
			height: auto
			margin: 0 0 10px
	.contacts
		padding: 30px 0
		&__menu
			display: none
		&__info
			margin: 0
		&__box
			display: block
			margin: 0
		&__column
			margin: 0 0 20px
		&__social
			display: block
			margin: 0
			h4
				margin: 0 0 .5em
	.tabs
		&__head
			position: static
			display: block
			padding: 0 20px
		&__trigger
			display: block
	.chars
		&__item
			display: block
			h4
				margin: 0 0 .5em
	.footer
		&__column
			&:nth-child(n+2)
				display: none
		&__author
			text-align: center
		&__bottomline
			display: block
			text-align: center
		&__text
			max-width: 100%

@media(max-width:480px)
	.contacts
		&__head
			margin: 0 0 20px
		&__body
			margin: 0 -20px
			border-radius: 0
		&__text
			padding: 30px 20px
		&__section
			padding: 30px 20px
	
