@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 420px;
  font: normal normal 16px/1.25 "Open Sans", sans-serif;
}

header, footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img,
iframe,
video {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a img {
  border: none;
}

a {
  color: #4F8AD1;
  text-decoration: none;
}

p {
  margin: 0 0 1.25em;
}
p:last-child {
  margin: 0;
}

blockquote {
  margin: 0;
  position: relative;
  padding: 0 45px 0 50px;
  font-style: italic;
}
blockquote:before, blockquote:after {
  font-size: 70px;
  line-height: 0.5;
  display: inline-block;
  position: absolute;
  font-style: normal;
}
blockquote:before {
  content: "«";
  top: 0;
  left: 0;
}
blockquote:after {
  content: "»";
  bottom: 0;
  right: 0;
}

*:focus {
  outline: none;
}

*:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*элементы форм */
input, textarea, button, select {
  font: inherit;
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

[type=text],
[type=tel],
[type=email],
[type=url],
[type=password],
[type=search],
textarea {
  display: block;
  width: 100%;
  border: 2px solid #dedede;
  border-radius: 10px;
  letter-spacing: 0.015em;
  padding: 12px 20px;
  margin: 0 0 20px;
  line-height: normal;
}
[type=text]:last-child,
[type=tel]:last-child,
[type=email]:last-child,
[type=url]:last-child,
[type=password]:last-child,
[type=search]:last-child,
textarea:last-child {
  margin-bottom: 0;
}

[type=search]::-webkit-search-decoration, [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-results-button, [type=search]::-webkit-search-results-decoration {
  display: none;
}

/*кнопки */
button,
[type=submit],
[type=reset],
[type=image] {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn {
  display: inline-block;
  font: normal bold 16px/43px Roboto, sans-serif;
  background: none;
  color: #4F8AD1;
  border-radius: 10px;
  border: 2px solid #4F8AD1;
  padding: 0 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-clip-path: polygon(0 0, 24px 0, 24px 3px, 36px 3px, 36px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 24px 0, 24px 3px, 36px 3px, 36px 0, 100% 0, 100% 100%, 0 100%);
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  -webkit-tap-highlight-color: transparent;
}
.btn:active {
  background-color: #4F8AD1;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 30px 0, 30px 0, 30px 0, 30px 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 30px 0, 30px 0, 30px 0, 30px 0, 100% 0, 100% 100%, 0 100%);
}
.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn--white:active {
  border-color: #87BEEB;
  background-color: #87BEEB;
}
.btn--basket {
  font-family: icomoon;
  font-weight: 400;
  font-size: 27px;
  width: 1.7407407407em;
  padding: 0;
}
.btn--basket:before {
  content: "";
}
.btn--block {
  display: block;
  width: 100%;
  padding: 0 10px;
}

/*заголовки */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-family: Roboto, sans-serif;
  font-weight: inherit;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 34px;
  margin: 0 0 0.5em;
}

h4 {
  font-size: 28px;
  margin: 0 0 0.5em;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 15px;
  text-transform: uppercase;
  color: #9DC8FF;
  letter-spacing: 0.04em;
  margin: 0 0 0.8em;
}

/*списки */
ul, ol {
  margin: 0 0 1em;
}

/*таблицы */
table {
  width: 100%;
  margin: 0 0 1em;
  line-height: normal;
}
table:last-child {
  margin-bottom: 0;
}
table th {
  text-align: inherit;
}
table td, table th {
  padding: 0.6em;
  padding-left: 0;
}
table tbody td, table tbody th {
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
}
table tbody tr:last-child td, table tbody tr:last-child th {
  border-bottom: none;
}

/*контейнеры */
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper--big {
  max-width: 1366px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

/*ШАПКА */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
}

.search-form {
  padding: 10px 0;
  background-color: #fff;
}
.search-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 45px);
          flex: 0 1 calc(100% - 45px);
  margin: 0;
}
.search-form__close {
  display: inline-block;
  line-height: 47px;
  cursor: pointer;
  font-size: 24px;
  width: 1.2em;
  text-align: center;
}

.menu-btn {
  display: none;
  width: 1.8em;
  text-align: right;
  font: normal 900 24px/60px "Font Awesome 5 Pro";
}
.menu-btn:before {
  content: "";
}
.menu-btn--active {
  color: #4F8AD1;
}

.header {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
  font-family: Roboto, sans-serif;
  color: #111;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__logo {
  margin: 0 5px 0 0;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
.header__menu > li {
  display: inline-block;
}
.header__menu > li > a {
  display: block;
  color: inherit;
  letter-spacing: 0.04em;
  padding: 20px 15px;
}
.header__menu > li > a:not(:only-child):after {
  content: "";
  font: normal normal 0.625em/normal icomoon;
  opacity: 0.5;
  display: inline-block;
  margin-left: 1em;
}
.header__phone {
  display: inline-block;
  font-size: 20px;
  line-height: 60px;
  white-space: nowrap;
  color: inherit;
  margin: 0 0 0 auto;
  padding: 0 13px;
  letter-spacing: 0.04em;
}
.header__search-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  line-height: 60px;
  width: 1.8em;
  text-align: center;
}
.header__info-trigger {
  display: inline-block;
  font-size: 22px;
  line-height: 60px;
  width: 1.7em;
  text-align: center;
  cursor: pointer;
}
.header__info-trigger--active {
  color: #00A0E3;
}
.header__info-body {
  display: none;
  position: absolute;
  right: 20px;
  top: 100%;
  z-index: 2;
  width: 226px;
  line-height: 1.375;
  padding: 11px 22px 37px;
  -webkit-box-shadow: -1px 12px 14px rgba(0, 0, 0, 0.224213);
          box-shadow: -1px 12px 14px rgba(0, 0, 0, 0.224213);
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
}
.header__info-body p {
  margin: 0 0 0.8em;
}
.header__info-body p:last-child {
  margin-bottom: 0;
}
.header__info-body strong {
  display: block;
}
.header__cart {
  display: inline-block;
  position: relative;
  font-size: 25px;
  line-height: 60px;
  color: inherit;
  width: 1.5em;
  text-align: center;
}
.header__cart[data-amount]:after {
  content: attr(data-amount);
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #4F8AD1;
  border-radius: 50%;
  text-align: center;
  font: normal bold 9px/16px Roboto, sans-serif;
  color: #fff;
  top: 50%;
  right: 0;
}
.header__search {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  z-index: 1;
}

/*ОСНОВНОЕ СОДЕРЖИМОЕ */
.slick-arrow {
  display: inline-block;
  width: 53px;
  height: 53px;
  color: #4F8AD1;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  font: normal normal 18px/53px icomoon;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: calc(50% - 26.5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.slick-arrow.prev {
  left: 0;
}
.slick-arrow.prev:before {
  content: "";
}
.slick-arrow.next {
  right: 0;
}
.slick-arrow.next:before {
  content: "";
}
.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.slick-dots > li {
  display: inline-block;
  margin: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
}
.slick-dots > li.slick-active {
  background-color: currentColor;
}

.banner {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: #333;
  padding: 10px 20px;
  background: url(../img/banner.jpg) no-repeat center/cover;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.banner__remove-btn {
  font-size: 15px;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: calc(50% - .5em);
  left: calc(50% + 574px);
}

.top-block {
  background-color: #4F8AD1;
  color: #fff;
}
.top-block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-block__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 111px 0 132px;
}
.top-block__slide.slick-slide {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.top-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-block__text {
  padding: 55px 0 0 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.top-block__text h3 {
  font-weight: bold;
  font-size: 44px;
  line-height: 1;
  margin: 0 0 0.3em;
}
.top-block__text h5 {
  font-family: inherit;
  line-height: 1.5;
  margin: 0 0 1.8em;
}
.top-block__text h5:last-child {
  margin-bottom: 0;
}
.top-block__text h6 {
  font-size: inherit;
}
.top-block__img {
  width: calc(50% - 20px);
}
.top-block__dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #D7D7D7;
}
.top-block__dots > li {
  height: 6px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.top-block__dots > li.slick-active {
  background-color: #4F8AD1;
}

.catalog {
  padding: 13px 0 10px;
}
.catalog__head {
  text-align: center;
  margin: 40px 0 30px;
}

.banner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 23px 0;
  text-align: center;
  height: 608px;
  margin: 10px;
  width: 428px;
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
.banner-card--dark {
  color: #fff;
}
.banner-card--medium {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  padding-top: 53px;
}
.banner-card--big {
  padding-top: 73px;
  height: 677px;
  -ms-flex-preferred-size: calc(100% - 20px);
      flex-basis: calc(100% - 20px);
}
.banner-card__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.banner-card h3 {
  font-size: 28px;
  line-height: 1.2857142857;
  margin: 0 0 0.3em;
}
.banner-card h3 strong {
  display: block;
}
.banner-card--medium h3, .banner-card--big h3 {
  font-size: 34px;
  line-height: 1.1764705882;
}
.banner-card h5 {
  line-height: 1.5;
  margin: 0 0 1.7em;
}
.banner-card__btn {
  position: relative;
  z-index: 1;
}
.banner-card__img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-height: 50%;
  margin: auto;
}
.banner-card__img--bottom {
  margin-bottom: 0;
  max-height: 60%;
}
.banner-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event-card {
  width: calc(100% / 3 - 20px);
  margin: 0 10px 20px;
  position: relative;
  min-height: 304px;
  padding: 105px 160px 60px 40px;
  overflow: hidden;
}
.event-card__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}
.event-card__text {
  position: relative;
  z-index: 1;
  font: normal normal 20px/1.4 Roboto, sans-serif;
}
.event-card__text h4 {
  line-height: 1.2857142857;
  margin: 0 0 0.4em;
}
.event-card__text h4 strong {
  display: block;
}
.event-card__text h5 {
  margin: 0;
}
.event-card__label {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  border: 1px solid #FA0000;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.5714285714;
  background-color: #EE0000;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.event-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video {
  position: relative;
}
.video__tag {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.video__btn {
  display: inline-block;
  font: normal normal 19px/53px icomoon;
  display: inline-block;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 26.5px);
  left: calc(50% - 26.5px);
  text-align: center;
  text-indent: 3px;
  color: #4F8AD1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.video__btn:before {
  content: "";
}
.video__btn--corner {
  left: auto;
  top: auto;
  bottom: 30px;
  right: 30px;
}
.video--playing .video__btn {
  opacity: 0;
  pointer-events: none;
}

.video-block__main {
  padding: 30px 0 0;
}
.video-block__head {
  text-align: center;
  font-size: 20px;
  margin: 0 0 45px;
}
.video-block__head h3 {
  margin: 0;
}
.video-block__card {
  width: 280px;
  margin: 0 10px;
  padding: 0 0 50px;
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.4;
}
.video-block__card:before {
  content: "";
  font: normal normal 19px/53px icomoon;
  display: inline-block;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 52.5px;
  left: calc(50% - 26.5px);
  text-align: center;
  text-indent: 3px;
  color: #4F8AD1;
}
.video-block__card:nth-last-child(n+5) {
  display: none;
}
.video-block__card--active:before {
  background-color: #4F8AD1;
  color: #fff;
}
.video-block__card--active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: calc(50% - 17px);
  border-bottom: 20px solid #2E5577;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}
.video-block__thumb {
  height: 158px;
  background-color: gray;
  margin: 0 0 10px;
}
.video-block__thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.video-block__content {
  padding: 80px 0;
  background-color: #2E5577;
  color: #fff;
}
.video-block__slide {
  width: 780px;
  margin: 0 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: transparent;
  opacity: 0.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.video-block__slide.slick-center {
  opacity: 1;
  color: inherit;
}
.video-block__slide:not(.slick-center) .video__btn {
  opacity: 0;
  pointer-events: none;
}
.video-block__item {
  height: 445px;
  margin: 0 0 20px;
}
.video-block__item-description {
  max-width: 550px;
  margin: 0 auto;
}
.video-block__dots {
  margin: 20px 0 0;
}

.card {
  width: 251px;
  background-color: #FAF9F9;
  text-align: center;
  margin: 0 10px 20px;
  position: relative;
  padding: 8px 0 36px;
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card.slick-slide {
  height: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card img {
  margin: auto;
}
.card__text {
  padding: 0 26px;
}
.card__text h5 {
  font-size: inherit;
  margin: 0 0 1.1em;
}
.card__text a {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-block {
  padding: 80px 0 30px;
}
.category-block__head {
  text-align: center;
}
.category-block__slider {
  padding-left: calc(50% - 590px);
}
.category-block__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.category-block__arrow.prev {
  left: calc(50% - 615px);
}
.category-block__arrow.next {
  right: calc(50% - 515px);
}

.text-block {
  padding: 33px 0;
}

.social-link {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  vertical-align: top;
  line-height: calc(2em - 2px);
  margin: 0 0.125em 0.125em;
}
.social-link--big {
  font-size: 20px;
}

.single-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 26px;
}
.single-contact:last-child {
  margin-bottom: 0;
}
.single-contact__icon {
  font-size: 25px;
  width: 1.3em;
  text-align: center;
  margin: 0 15px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #B1B1B1;
}
.single-contact__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 45px);
          flex: 1 1 calc(100% - 45px);
  line-height: 1.5;
}
.single-contact__text h5 {
  font: inherit;
  color: #B1B1B1;
  margin: 0 0 5px;
}
.single-contact__text strong {
  color: #B1B1B1;
  font-weight: bold;
}

.contacts {
  background-color: #F6F6F6;
  padding: 65px 0 100px;
}
.contacts h1 {
  font-size: 50px;
  line-height: 1;
  margin: 0 0 0.22em;
}
.contacts h4 {
  font-weight: bold;
  line-height: 1.25;
}
.contacts h5 {
  font-family: inherit;
}
.contacts__head {
  text-align: center;
  line-height: 1.5;
  margin: 0 0 32px;
}
.contacts__body {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.contacts__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #F6F6F6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto, sans-serif;
}
.contacts__menu > li {
  margin: 0 18px;
}
.contacts__menu > li > a {
  display: block;
  padding: 13.5px 0;
  color: inherit;
  position: relative;
}
.contacts__menu > li.active {
  color: #4F8AD1;
  font-weight: bold;
}
.contacts__menu > li.active > a:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 2px solid #4F8AD1;
}
.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px 40px 50px 142px;
}
.contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 394px;
  background-color: gray;
}
.contacts__section {
  border-top: 2px solid #F6F6F6;
  padding: 20px 140px;
}
.contacts__info {
  margin: 21px 0 39px;
}
.contacts__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts__column {
  margin: 0 10px;
  -ms-flex-preferred-size: calc(100% / 3 - 20px);
      flex-basis: calc(100% / 3 - 20px);
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0 26px;
}
.contacts__social h4 {
  margin: 0 35px 0 0;
}

.likely {
  vertical-align: top;
}

.good {
  background: url(../img/angle-blot.svg) no-repeat left top, radial-gradient(65.86% 65.86% at 38.14% 36.77%, #FBFBFB 0%, #F6F6F6 100%);
  padding: 53px 0 133px;
}
.good__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.good__slider {
  width: 635px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.good__slider .slick-list {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: calc(100% - 100px);
}
.good__slide {
  position: relative;
}
.good__slide:before {
  content: "";
  display: block;
  padding-top: 80.5607476636%;
}
.good__slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.good__dots {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px;
}
.good__dots > li {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 8px;
}
.good__dots > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid #4F8AD1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 7px, 0 7px, 0 calc(100% - 7px), 100% calc(100% - 7px), 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 7px, 0 7px, 0 calc(100% - 7px), 100% calc(100% - 7px), 100% 100%, 0 100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.good__dots > li.slick-active:before {
  opacity: 1;
}
.good__dots > li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
}
.good__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 635px);
          flex: 1 1 calc(100% - 635px);
  padding: 5px 0 0 63px;
}
.good__label {
  display: inline-block;
  color: #4F8AD1;
  font: normal normal 14px/22px Roboto, sans-serif;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 9px;
  text-align: center;
  margin: 0 10px 17px 0;
}
.good h1, .good h2, .good h3 {
  margin: 0 0 0.14em;
}
.good h1 strong, .good h2 strong, .good h3 strong {
  display: block;
}
.good__info {
  padding-bottom: 13px;
  border-bottom: 1px solid #D6D6D6;
  margin: 0 0 39px;
}
.good__status {
  display: inline-block;
  color: #31AA45;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin-right: 23px;
}
.good__status i {
  font-size: 1.1428571429em;
  margin-right: 10px;
}
.good__id {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: inline-block;
}
.good__cost {
  margin: 0 0 12px;
}
.good__price {
  display: inline-block;
  font: normal bold 34px/1 Roboto, sans-serif;
  margin-right: 15px;
}
.good__price--old {
  color: #bbb;
  font-size: 26px;
  line-height: 1.3076923077;
  text-decoration: line-through;
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}
.good__tools {
  margin: 0 0 38px;
}
.good__btn {
  vertical-align: top;
  margin-right: 6px;
}
.good__chars {
  padding-left: 4px;
}
.good__char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2857142857;
  margin: 0 0 16px;
}
.good__char:last-child {
  margin-bottom: 0;
}
.good__char-icon {
  font-size: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 17px;
}
.good__char-text {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto calc(100% - 47px);
          flex: 1 1 auto calc(100% - 47px);
}

.tabs {
  position: relative;
  padding: 10px 0 0;
}
.tabs__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 10px;
}
.tabs__head--bottom-space {
  margin-bottom: 20px;
}
.tabs__trigger {
  display: inline-block;
  font: normal normal 16px/47px Roboto, sans-serif;
  padding: 0 10px;
  margin: 10px 10px 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, padding 0.3s ease, margin 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: color 0.3s ease, padding 0.3s ease, margin 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
  transition: box-shadow 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tabs__trigger--active {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  color: #4F8AD1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  margin: 10px 0 0;
}
.tabs__item {
  display: none;
}

.description {
  padding: 30px 0;
}
.description h4 {
  line-height: normal;
  margin: 0 0 0.5em;
}
.description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.description__text {
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 380px);
          flex: 1 1 calc(100% - 380px);
  padding-right: 110px;
}
.description__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
}

.file-link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  color: inherit;
}
.file-link:before {
  content: "";
  font: normal 900 44px/1 "Font Awesome 5 Pro";
  color: #9DC8FF;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.chars {
  padding: 30px 0;
}
.chars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 100px;
  margin: 0 0 50px;
}
.chars__item:last-child {
  margin-bottom: 0;
}
.chars__item h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  font-size: 24px;
  margin: 10px 20px 0 0;
}
.chars__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 400px);
          flex: 0 1 calc(100% - 400px);
}

.good-banner {
  background: url(../img/angle-blot.svg) no-repeat top left, url(../img/blue-blot.svg) no-repeat left 50% bottom 40px #F8F8F8;
  padding: 96px 0 16px;
}
.good-banner h6 {
  font-size: 16px;
  margin: 0 0 0.5em;
}
.good-banner h1 {
  line-height: 1.0555555556;
  margin: 0 0 0.18em;
}
.good-banner h5 {
  font-family: inherit;
  margin: 0 0 1.7em;
}
.good-banner__text {
  margin: 0 0 37px;
  text-align: center;
}

.app-block {
  background: url(../img/phone.png) no-repeat left calc(50% + 250px) bottom, url(../img/red-bg.jpg) no-repeat center/cover;
  padding: 85px 0 53px;
  color: #fff;
  line-height: 1.625;
}
.app-block__text h6 {
  margin: 0 0 0.6em;
  color: inherit;
}
.app-block__text h3 {
  margin: 0 0 0.9em;
  line-height: 1.2352941176;
}
.app-block__text a {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.app-block__text a img {
  display: block;
}
.app-block__text p:empty:not(:last-child) {
  margin-bottom: 2.7em;
}

.video-banner {
  background-size: cover;
  background-position: center;
  background-color: #07243c;
  background-blend-mode: overlay;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  padding: 187px 0 198px;
}
.video-banner__text {
  max-width: 820px;
  margin: 0 auto;
}
.video-banner__text h2 {
  line-height: 1;
  margin: 0 0 0.4em;
}

.video-link {
  display: inline-block;
  font-size: 20px;
}
.video-link i {
  font-size: 53px;
  margin-left: 0.3em;
  vertical-align: middle;
}

.review-card {
  width: 356px;
  margin: 0 25px 50px;
  position: relative;
  background-color: #F1F1F1;
  line-height: 1.625;
  padding: 29px 15px 35px 29px;
  text-align: left;
}
.review-card.slick-slide {
  margin-bottom: 0;
}
.review-card.slick-slide:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 38px;
  left: 100%;
  border-bottom: 36px solid #F1F1F1;
  border-right: 24px solid transparent;
}
.review-card.slick-center:after {
  left: auto;
  right: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.review-card.slick-center ~ .slick-slide:after {
  left: auto;
  right: 100%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.review-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px 0 0;
}
.review-card__icon {
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 11px;
}
.review-card__author {
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-right: 10px;
}
.review-card__source {
  margin-left: auto;
}

.reviews {
  text-align: center;
  padding: 97px 0 98px;
}
.reviews h3 {
  line-height: 1.1764705882;
  margin: 0 0 1.2352941176em;
}
.reviews__brands {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 880px;
  margin: 0 auto 37px;
}
.reviews__brand {
  display: block;
  margin: 0 5px 10px;
  width: 281px;
  max-width: 100%;
  background-color: #F1F1F1;
  position: relative;
}
.reviews__brand:before {
  content: "";
  display: block;
  padding-top: 52.6690391459%;
}
.reviews__brand img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: calc(100% - 40px);
  max-height: calc(100% - 20px);
}
.reviews__slider {
  overflow: hidden;
}
.reviews__slider .slick-list {
  margin: 0 -25px;
}
.reviews__arrow.prev {
  left: calc(50% - 235px);
}
.reviews__arrow.next {
  right: calc(50% - 235px);
}

.bg-banner {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 60px 0 calc(70% - 300px);
  text-align: center;
}
.bg-banner--dark {
  color: #fff;
}
.bg-banner__text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
.bg-banner h3 {
  line-height: normal;
  margin: 0 0 0.27em;
}
.bg-banner h3 strong {
  display: block;
}

.pic-block {
  padding: 85px 0 110px;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #EEF0F8;
}
.pic-block__text {
  width: 50%;
  margin-left: auto;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 100px;
}
.pic-block h2 {
  line-height: 1.08;
}
.pic-block h2 strong {
  display: block;
}
.pic-block small {
  font-size: 0.8em;
}

.presentation {
  padding: 74px 0 48px;
  background-color: #F8F8F8;
}
.presentation__head {
  text-align: center;
}
.presentation h6 {
  margin: 0 0 0.7em;
}
.presentation h2 {
  line-height: 1;
  margin: 0;
}
.presentation h3 {
  line-height: normal;
}
.presentation__item {
  padding: 90px 0;
  background: url(../img/presentation/0.svg) no-repeat calc(50% + 152px) 50%;
}
.presentation__item:first-child {
  padding-top: 73px;
}
.presentation__item:nth-child(3n+2) {
  background-image: url(../img/presentation/1.svg);
  background-position-x: calc(50% + 292px);
}
.presentation__item:nth-child(3n) {
  background-image: url(../img/presentation/2.svg);
}
.presentation__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.presentation__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  margin: auto 66px auto 0;
  font-size: 20px;
  line-height: 1.5;
}
.presentation__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 446px);
          flex: 0 1 calc(100% - 446px);
  height: 412px;
}

.charge {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#f1f1f3));
  background: linear-gradient(to bottom, #F8F8F8, #f1f1f3);
  padding: 70px 0 0;
}
.charge__text {
  text-align: center;
  max-width: 750px;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  position: relative;
  z-index: 2;
}
.charge__bg {
  display: block;
  width: 100%;
  margin-top: -10%;
}
.charge h6 {
  margin: 0 0 0.6em;
}
.charge h2 {
  line-height: 1;
  margin: 0 0 0.45em;
}
.charge ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.charge ul > li {
  -ms-flex-preferred-size: 205px;
      flex-basis: 205px;
  margin: 0 20px 20px;
}
.charge ul > li strong {
  color: #4F8AD1;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 34px;
  line-height: 1.2352941176;
}
.charge ul > li em {
  font-size: 1.5882352941em;
  line-height: 1.2352941176;
  font-style: inherit;
}

.advantages {
  padding: 86px 0 70px;
  background: url(../img/angle-blot-2.svg) no-repeat left top, url(../img/angle-blot-3.svg) no-repeat right bottom;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages__img {
  width: calc(50% + 20px);
}
.advantages__text {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  padding-left: 89px;
  font-size: 20px;
  line-height: 1.5;
}
.advantages__text h2, .advantages__text h3 {
  line-height: normal;
}
.advantages__text h4 {
  font-size: 34px;
  font-weight: bold;
  color: #4F8AD1;
  line-height: 1.2352941176;
  margin: 0;
}
.advantages__text h4 strong {
  font-size: 1.5882352941em;
  line-height: 1.2857142857;
}
.advantages__text h6 {
  margin: 0 0 0.3em;
}
.advantages__text p {
  margin: 0 0 0.7em;
}
.advantages__text p:last-child {
  margin-bottom: 0;
}
.advantages__text blockquote {
  margin-right: 40px;
}

.test-drive {
  padding: 23px 0 100px;
  background: url(../img/free-blot-1.svg) no-repeat calc(50% - 510px) 207px, url(../img/free-blot-2.svg) no-repeat calc(50% + 332px) 100%;
}
.test-drive h2 {
  line-height: normal;
  margin: 0 0 0.4em;
}
.test-drive h6 {
  margin: 0 0 0.2em;
}
.test-drive h5 {
  font-family: inherit;
  line-height: 1.5;
}
.test-drive__text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 50px;
}
.test-drive__video {
  max-width: 1062px;
  margin: 0 auto;
}

/*ПОДВАЛ */
.footer {
  background: url(../img/footer.svg) no-repeat center top/100% 62px, linear-gradient(to bottom, transparent 62px, #2E5577 62px);
  color: #fff;
}
.footer a {
  color: inherit;
}
.footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 1.1em;
}
.footer__topline {
  padding: 108px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.footer__column {
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 20px);
          flex: 1 1 calc(25% - 20px);
}
.footer__logo {
  display: block;
  width: 177px;
  margin: 7px 0 22px 7px;
}
.footer__social {
  margin: 0 0 0 12px;
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu > li {
  margin: 0 0 1em;
}
.footer__menu > li:last-child {
  margin-bottom: 0;
}
.footer__author {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0 10px;
  text-align: right;
}
.footer__author a {
  font-weight: bold;
  text-transform: uppercase;
  font-stretch: condensed;
  letter-spacing: 0.045em;
}
.footer__bottomline {
  padding: 25px 0 26px;
  border-top: 1px solid rgba(151, 151, 151, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}
.footer__text {
  max-width: calc(50% - 10px);
}

/*АДАПТИВ */
@media(min-width: 991px) {
  .btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .btn:hover {
    background-color: #4F8AD1;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 30px 0, 30px 0, 30px 0, 30px 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 30px 0, 30px 0, 30px 0, 30px 0, 100% 0, 100% 100%, 0 100%);
  }
  .btn--white:hover {
    border-color: #87BEEB;
    background-color: #87BEEB;
  }

  .slick-slider:hover .slick-arrow {
    opacity: 1;
  }
  .slick-slider:hover .slick-arrow.slick-disabled {
    opacity: 0;
  }
  .slick-arrow:hover {
    background-color: #4F8AD1;
    color: #fff;
  }

  .header__menu > li {
    position: relative;
  }
  .header__menu > li > a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu > li > ul {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: -15px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: -1px 12px 14px rgba(0, 0, 0, 0.224213);
            box-shadow: -1px 12px 14px rgba(0, 0, 0, 0.224213);
    width: 218px;
    overflow: hidden;
  }
  .header__menu > li > ul > li > a {
    display: block;
    padding: 11px 12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: inherit;
  }
  .header__menu > li > ul > li > a:hover {
    background-color: #F4F4F4;
  }
  .header__menu > li:hover > a {
    color: #00A0E3;
  }
  .header__menu > li:hover > ul {
    display: block;
  }
  .header__cart {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__cart:hover {
    color: #00A0E3;
  }
  .header__info-triger {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__info:hover .header__info-trigger {
    color: #00A0E3;
  }
  .header__phone {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__phone:hover {
    color: #00A0E3;
  }
  .header__search-btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__search-btn:hover {
    color: #00A0E3;
  }

  .search-form__close {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .search-form__close:hover {
    color: #00A0E3;
  }

  .banner-card__img {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .banner-card:hover .banner-card__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .event-card__bg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .event-card:hover .event-card__bg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .video-block__card:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .video-block__card:hover:before {
    background-color: #4F8AD1;
    color: #fff;
  }

  .card img {
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .card:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media(max-width: 1239px) {
  .wrapper {
    max-width: 992px;
  }
  .wrapper--big {
    max-width: 100%;
  }

  .banner__remove-btn {
    left: auto;
    right: 10px;
  }

  .top-block__slide {
    padding: 80px 0;
  }
  .top-block__text {
    padding-left: 0;
  }
  .top-block__text h3 {
    font-size: 34px;
  }

  .banner-card {
    padding-top: 46px;
    -ms-flex-preferred-size: 428px;
        flex-basis: 428px;
  }
  .banner-card--big {
    -ms-flex-preferred-size: calc(100% - 20px);
        flex-basis: calc(100% - 20px);
  }
  .banner-card h3 {
    font-size: 28px;
    line-height: 1.2857142857;
  }

  .event-card {
    width: calc(50% - 20px);
  }
  .event-card:nth-child(n+3) {
    display: none;
  }

  .video-block__nav {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 760px;
  }
  .video-block__card {
    padding-bottom: 20px;
  }
  .video-block__card--active:after {
    display: none;
  }

  .category-block {
    padding: 30px 0;
  }
  .category-block__slider {
    padding-left: calc(50% - 476px);
  }
  .category-block__arrow.prev {
    left: calc(50% - 490px);
  }
  .category-block__arrow.next {
    right: calc(50% - 355px);
  }

  .contacts__section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contacts__text {
    padding-left: 40px;
  }

  .good__slider {
    width: 50%;
  }
  .good__text {
    padding-left: 40px;
  }

  .description__text {
    padding-right: 40px;
  }

  .good-banner {
    background-size: auto, 90% auto;
  }

  .bg-banner {
    padding-bottom: 70%;
  }

  .pic-block {
    padding: 60px 0;
    background-size: 60% auto;
  }
  .pic-block__text {
    padding-left: 40px;
  }

  .presentation__item {
    background-size: auto 100%;
  }
  .presentation__text {
    margin-right: 40px;
  }
  .presentation__video {
    height: auto;
  }

  .advantages {
    background-size: 40% auto, auto;
  }
  .advantages__img {
    width: 40%;
  }
  .advantages__text {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media(max-width:991px) {
  .banner {
    display: none;
  }

  .menu-btn {
    display: inline-block;
  }

  .header__menu {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    display: none;
    text-align: right;
  }
  .header__menu > li {
    display: block;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
  }
  .header__menu > li > a {
    padding: 10px 20px;
  }
  .header__menu > li > a:not(:only-child):after {
    display: none;
  }
  .header__menu--open {
    display: block;
  }
  .header__info-body {
    right: 0;
    border-bottom-right-radius: 0;
  }

  .top-block__slide {
    padding: 35px 0;
  }
  .top-block__wrapper {
    display: block;
  }
  .top-block__text {
    max-width: 680px;
    padding: 0;
    margin: 0 auto 20px;
  }
  .top-block__img {
    width: auto;
    margin-left: auto;
    max-height: 220px;
  }

  .video-block__content {
    padding: 40px 0 20px;
  }
  .video-block__slide {
    width: 75vw;
    font-size: inherit;
  }
  .video-block__item {
    height: 40vw;
  }

  .category-block__slider {
    padding-left: 20px;
  }

  .contacts {
    padding: 40px 0;
  }
  .contacts h1 {
    font-size: 36px;
  }
  .contacts h4 {
    font-size: 22px;
  }
  .contacts__head {
    font-size: inherit;
  }
  .contacts__main {
    display: block;
  }
  .contacts__text {
    padding: 30px;
  }
  .contacts__section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .good {
    padding: 50px 0;
  }
  .good__wrapper {
    display: block;
  }
  .good__slider {
    width: auto;
    max-width: 768px;
    margin: 0 0 30px;
  }
  .good__text {
    padding-left: 0;
  }

  .description__wrapper {
    display: block;
  }
  .description__text {
    padding-right: 0;
  }
  .description__sidebar {
    margin-top: 30px;
  }

  .chars__item {
    padding: 0;
  }
  .chars__item h4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  .presentation__item {
    padding: 30px 0;
  }
  .presentation__item:first-child {
    padding-top: 50px;
  }
  .presentation__item-wrapper {
    display: block;
  }
  .presentation__text {
    margin: 0 0 20px;
  }

  .charge {
    padding-top: 30px;
  }
  .charge ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantages {
    padding: 45px 0;
  }
  .advantages__wrapper {
    display: block;
  }
  .advantages__img {
    width: auto;
    display: block;
    margin: 0 auto 20px;
    max-height: 360px;
  }
  .advantages__text {
    padding: 0;
  }

  .test-drive {
    padding-bottom: 40px;
  }

  .reviews {
    padding: 60px 0 45px;
  }

  .footer {
    background: url(../img/footer.svg) no-repeat center top/100% 4.54vw, -webkit-gradient(linear, left top, left bottom, color-stop(4.2vw, transparent), color-stop(4.2vw, #2E5577));
    background: url(../img/footer.svg) no-repeat center top/100% 4.54vw, linear-gradient(to bottom, transparent 4.2vw, #2E5577 4.2vw);
    padding-top: 4.54vw;
  }
  .footer h3 {
    margin: 0 0 0.5em;
  }
  .footer__topline {
    display: block;
    margin: 0;
    padding: 20px 0 15px;
  }
  .footer__column {
    margin: 0 0 30px;
  }
  .footer__logo {
    margin: 0 auto 15px;
  }
  .footer__social {
    margin: 0;
    text-align: center;
  }
  .footer__menu {
    -webkit-columns: 4;
            columns: 4;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .footer__author {
    font-size: inherit;
  }
  .footer__bottomline {
    font-size: inherit;
    padding: 10px 0;
  }
}
@media(max-width:767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  .header__phone {
    font-size: 0;
    height: 60px;
    overflow: hidden;
    padding: 0;
  }
  .header__phone:before {
    content: "";
    display: block;
    font-family: icomoon;
    font-size: 24px;
    width: 1.7em;
    text-align: center;
  }

  .top-block__text {
    text-align: center;
  }
  .top-block__text h3 {
    font-size: 28px;
  }
  .top-block__text h5 {
    font-size: 18px;
  }
  .top-block__img {
    margin: auto;
  }

  .banner-card {
    height: auto;
    min-height: 608px;
  }

  .events__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .event-card {
    width: 420px;
    max-width: 100%;
  }
  .event-card:nth-child(n+3) {
    display: block;
  }

  .video-block__nav {
    display: none;
  }
  .video-block__item {
    height: auto;
    margin: 0 0 10px;
  }

  .contacts {
    padding: 30px 0;
  }
  .contacts__menu {
    display: none;
  }
  .contacts__info {
    margin: 0;
  }
  .contacts__box {
    display: block;
    margin: 0;
  }
  .contacts__column {
    margin: 0 0 20px;
  }
  .contacts__social {
    display: block;
    margin: 0;
  }
  .contacts__social h4 {
    margin: 0 0 0.5em;
  }

  .tabs {
    padding-top: 20px;
  }
  .tabs__head {
    position: static;
    display: block;
    padding: 0 20px;
  }
  .tabs__trigger {
    display: block;
    margin: 0;
  }

  .chars__item {
    display: block;
  }
  .chars__item h4 {
    margin: 0 0 0.5em;
  }

  .good-banner {
    padding-top: 60px;
    background-position-y: 0, calc(100% - 70px);
  }

  .video-banner {
    font-size: inherit;
    padding: 60px 0;
  }

  .pic-block {
    padding: 30px 0;
    background-size: 0;
  }
  .pic-block__text {
    width: auto;
    padding: 0;
    font-size: inherit;
  }

  .bg-banner {
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }
  .bg-banner--dark {
    background-color: #000;
    background-blend-mode: normal;
  }

  .presentation {
    padding: 50px 0 30px;
  }
  .presentation__item {
    padding: 20px 0;
  }

  .app-block {
    background-position: center bottom, center;
    background-size: 80% auto, cover;
    padding-bottom: 60%;
  }

  .reviews__brand {
    width: 180px;
  }

  .test-drive {
    background-size: auto, auto 50%;
  }

  .footer__column:nth-child(n+2) {
    display: none;
  }
  .footer__author {
    text-align: center;
  }
  .footer__bottomline {
    display: block;
    text-align: center;
  }
  .footer__text {
    max-width: 100%;
  }
}
@media(max-width:480px) {
  .contacts__head {
    margin: 0 0 20px;
  }
  .contacts__body {
    margin: 0 -20px;
    border-radius: 0;
  }
  .contacts__text {
    padding: 30px 20px;
  }
  .contacts__section {
    padding: 30px 20px;
  }

  .presentation__text {
    font-size: inherit;
  }

  .advantages__text {
    font-size: inherit;
  }
  .advantages__text h4 {
    font-size: 1.5em;
  }

  .charge__text {
    font-size: inherit;
  }
  .charge__text ul > li strong {
    font-size: 1.5em;
  }
}
